@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

:root{
  --font-primary: 'Roboto', sans-serif;
  --primary-color: #add8e6;
  --primary-darkness: #85cce4;
  --secondary-color: #20b2aa;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--font-primary);
  letter-spacing: 1px;
  box-sizing: border-box;
  scrollbar-width: thin;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
}

input {
  border: thin solid black;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.ng-invalid.ng-touched {
  border-color:red;
}
small {
  font-size: 0.8rem;
  color: red;
}

button {
  padding: 5px 20px;
  border-radius: 5px;
  border: thin solid lightgray;
  cursor: pointer;
  background: var(--primary-color);
  opacity: 0.7;
  font-weight: bold;

  &:hover{
    border: thin solid var(--primary-darkness);
    opacity: 1;
    font-weight: lighter;
  }
}
.btn_round {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 0;
}

.asterisk::after{
  padding-left: 3px;
  content: '*';
  color: red;
  position: absolute;
}


::-webkit-scrollbar {
  width: 5px;

  &-track {
    background: #209a93;
  }
  &-thumb {
    background: lightblue;
    border-radius: 25px;
  }
}


