.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid var(--primary-color) 1px;
  box-shadow: inset 0 0 8px 1px var(--primary-darkness);
  border-radius: 15px;
  width: fit-content;
  padding: 20px 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: 40px;
  position: relative;

  &_label {
    display: flex;
    flex-wrap: wrap;
    width: 100px;

    label {
      width: 100%;
    }
  }

  &_input {
    width: 250px;
    &-pos {
      position: absolute;
      left: 110px;
      top: 2px;
    }
  }
}

.inputContent {
  padding-left: 40px;
}



